body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("images/bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* DARK OVERLAY */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  /* backdrop-filter: blur(8px); */
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

/* CONTAINER */
.container {
  padding: 30px 20px;
  text-align: center;
}

/* INPUT */
input {
  padding: 12px;
  width: 220px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 10px;
}

/* BUTTON */
button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #00b894;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #019874;
}

/* PREVIEW ROW */
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

/* IMAGE */
.preview img {
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin: 2px;
  transition: transform 0.2s;
}

.preview img:hover {
  transform: scale(1.05);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}